name: BackGO CI

on:
  push:
    paths:
      - "backend/**"
      - ".github/workflows/backGO.yml"
  pull_request:
    paths:
      - "backend/**"
      - ".github/workflows/backGO.yml"

jobs:
  test:
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: backGO

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.22"

      - name: Go test
        run: go test ./...
